.container-equipamentos {
  display: flex;
  height: 100vh;
  background-color: #4646FB;
}

.barra-lateral {
  background-color: #4646FB;
  color: white;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.barra-lateral h2 {
  margin: 0;
  text-align: center;
}

.conteudo {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.barra-pesquisa {
  display: flex;
  align-items: center;
  gap: 10px;
}

.entrada-pesquisa {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 30px; 
  outline: none; 
}

.icone-pesquisa {
  background: none;
  font-size: 24px;
  cursor: pointer;
}

.tabela-equipamentos {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.tabela-equipamentos h3 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

td {
  border-top: 1px solid #ddd;
}

.acao-excluir {
  color: red;
  cursor: pointer;
}

.btn-remover {
  background-color: #ff0000;
  margin: 5px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-remover:hover {
  background-color: #cc0e0ebb;
}

.form-editar {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn-editar {
  background-color: #001aff;
  margin: 5px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-editar:hover {
  background-color: #1350aad8;
}

.btn-cancelar {
  background-color: #ff0000;
  margin: 5px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-cancelar:hover {
  background-color: #b61515;
}

.btn-salvar {
  background-color: #10e409;
  margin: 5px;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-salvar:hover {
  background-color: #30af16;
}